@charset "utf8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 244, 237);
}

.conteiner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 0, 0);
    padding-bottom: .7em;
}

.container-interno {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

input:not([type="submit"]) {
    border: 1px solid rgb(223, 223, 223);
    padding-left: .5em;
    height: 1.5em;
}


input[type="submit"] {
    margin-top: 1em;
    padding: .3em 1em;
    border: 0;
    border-radius: 3px;
    background-color: rgb(245, 178, 54);
    color: aliceblue;
}
